.DS_Store
.npm
.output
node_modules
.nuxt
/dist
/coverage
src/coverage
*/coverage
/build

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env.development.local
git.properties
CHANGELOG.adoc
gitlab-oauth.json
contrib/rest-client.env.json
test-report.xml
.scannerwork
.env
image.txt
/buildSrc/build/
/.gradle/
/geb-test/build/
/buildSrc/.gradle/
.java-version
geb-test/out
junit.xml
/dist-docs/
/docs/index.html
test-results/
playwright-report/
/test-results/
/playwright-report/
/playwright/.cache/
